
.header{
    background-color: #181317;
    /* position: fixed; */
    width: 100%;
    /* overflow: auto;
    clear: both;
    top: 0;
    z-index: 999; */
}
.fixed-top{
    background-color: #343a40!important;
    opacity: 0.6;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-dark {
    background-color: #343a40!important;
    opacity: 1;
}
.nav-color{
    color: #ffffff !important;
}
.logo{
    float: left;
    width: 50%;
}
.header-menu{
    float: right;
    width: 50%;
}
.header-menu ul{
    margin-left: 50%;
}

.header-menu li{
    margin: 0 40px 0 0;
}

/* -------------------------------------------------  body code  ----------------------------------------------------- */

/* new baner code */
.container-data{
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper h5{
    color: #909090;
    font-weight: 400;
    margin: 24px 0;
}
.question{
    padding: 24px;
    width: 40%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.city{
    position: relative;
    padding: 24px;
    width: 33%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #ccc;
}
.btn-form {
    font-weight: 400;
    font-size: 18px;
    padding: 17px;
    width: 27%;
    background: #ff3a6d;
    color: #ffffff;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.link{
    color: #909090;
    margin: 45px 0 0;
    font-size: 19px;
}

/* media query start here */
@media only screen and (max-width: 1024px) {
    .feture-block h6 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .wrapper h1{
        font-size: 24px;
    }
    .wrapper h5{
        margin: 9px 0;
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 768px) {
    .centered {
        top: 58%;
    }
    .wrapper h5 {
        margin: 0px 0;
        font-size: 1rem;
    }
    .relat-cont-img:hover img{
        transition: none !important; 
        transform: none !important; 
    }
    .img-cent{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 3px;
    }
    .feture-dtail {
        padding: 22px 9px !important;
    }
    .feture-block h6 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .responsive{
            flex: none!important;
            max-width: 50% !important;
    }
}
@media only screen and (max-width: 580px) {
    .centered {
        top: 61%;
    }
    .wrapper h1 {
        font-size: 20px;
    }
    .wrapper h5 {
        font-size: 0.8rem;
    }
    .btn-group{
        display: block;
    }
    .question {
        width: 79%;
        margin-left: 11%;
        margin: 0 0 10px;
        padding: 0px;
    }
    .city {
        width: 79%;
        margin: 0 0 10px;
        padding: 0px;
    }
    .btn-form{
        font-size: 14px;
        padding: 0px;
        width: 79%;
    }
    .link {
        margin: 0px 0 0;
        font-size: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .banner-img{
        max-height: 600px;
    }
    .wrapper h1 {
        font-size: 15px;
    }
    .wrapper h5 {
        font-size: 0.5rem;
        color: white;
    }
    .mt-4{
        margin: 10px !important;
    }
} 
@media only screen and (max-width: 464px)
{
    .banner-img {
        max-height: 300px !important;
    }
    .img-fluid-two {
        height: 100% !important;
    }
    .centered {
        top: 64%;
    }
    .link a{
        margin: -7px 0 0;
        font-size: 8px;
        display: block;
    }

}
@media only screen and (max-width: 430px){
    .responsive {
        flex: none!important;
        max-width: 100% !important;
    }
}

/* media query end */

/* new baner code end */

.need-content{
    text-align: center;
    margin: 50px 0px;
}
.need-content h3{
        font-size: 35px;
}
.cont{
    padding: 90px 0px;
}
.fluid-img{
    margin-top: 30px;
}

.grid{
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid .relat-cont-img {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid .relat-cont-img img {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    opacity: 0.8;
}
.relat-cont-img img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.relat-cont-img:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.position{
    margin-top: 16px !important;
}
.img-content{
    position: absolute;
    bottom: 8px;
    left: 60px;
}
.img-content h5, p{
    color: #ffffff;
}

/* --------------------------------------------place code css------------------------------------------------- */
.place-block{
    background-color: #F3F4F7;
    padding: 90px 0px;
    
}
.need-content{
    justify-content: center !important;
}
.feture-block{
    background-color: #ffffff;
}
.feture-dtail{
    padding: 22px 20px ;
}
.feture-block p{
    color: #9fa9b9;
    display: inline-block;
}
.feture-block h6{
    color: #181317;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}
.dolar{
    color: #ffb006 !important;
    padding: 0px;
}

.feture-dtail span{
    padding: 0px 10px;
}
.dolar-two{
    color: #9fa9b9 !important;
    padding: 0px !important;
}

.rating{
    background: #ffae00 !important;
    position: absolute;
    right: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: -33px 10px 0 0;
    font-size: 23px;
    background: #ff7474;
    color: #fff;
    padding: 14px;
    border-radius: 50%;
}
.green{
    background: #46cd38 !important;
}
.red{
    background: #ff7474 !important;
}
.close-now{
    color: #ff3a6d;
}
.open-now{
    color: #46cd38;
}

.close-now{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
}
.open-now{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
}
.close-btn span{
    float: right;
    line-height: 1;
    padding: 0 0 0 12px;
}
.feture-dtail ul{
    padding: 0px 0px;
}
.feture-dtail ul li{
    list-style: none;
    color: #737882;
    line-height: 2;
}
.location{
    padding: 0px 3px !important;
}

/* category css code */
.category{
    padding: 50px 0px;
}
.category-block{
    text-align: center;
    border: 1px solid #e5e7ef;
    padding: 30px;
    margin: 0 0 30px;
}
.font-color{
    color: #FF3D6D;
    font-size: 55px;
    margin: 20px 0;
}
.category-link h6{
    color: #181317;
    font-size: 21px;
    font-weight: 400;
}
.category-block:hover{
    background-color: #f34e79;
    cursor: pointer;
}
.category-block:hover .category-link h6{
    color: #e5e7ef;
}
.category-block:hover .font-color{
    color: #e5e7ef;
}

.category-link:hover{
   text-decoration: none;
}

/* reach many */
.reach{
    background-color: #F3F4F7;
    padding: 50px 0;
}
.reach-many{
    margin: 0 0;
}
.reach-many p{
    color: #181317;
}


/* header section */
.header{
    background-color: #2A2E36;
}
.copyright p{
    color: #ccc;
}
.copyright ul li{
    display: inline-block;
    padding: 0 10PX;
    font-size: 26PX;
}
.copyright ul li a{
    color: #ccc;
}
.copyright ul li a:hover{
    color: #F3F4F7;
}